$main-color: #191919;
$secondary-color: #10c9c3;
$font-color: #787878;
$background-color: #f8f9f9;

/* Global Changes */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: $main-color;
    letter-spacing: 0.05em;
}

p {
    color: $font-color;
}

/* Navigation */

.navbar {
    padding: 2.813rem 0 11.44rem 0;

    .fa-angle-double-right {
        font-size: 1.75rem;
        color: $secondary-color;
    }

}

.nav-item {
    padding-right: 0.5rem;
    
    &:last-child {
        padding-right: 0;
    }
}

.nav-link {
    font-size: 0.75rem;
    font-weight: 700;
    color: $main-color;
    text-transform: uppercase;

    &:hover {
        color: $main-color;
        opacity: 0.7;
    }

    &--first {
        color: $secondary-color;
    }

    &--first:hover {
        opacity: 1;
        color: $secondary-color;
    }
}


/* Header */

.header {
    background: url(/img/header-image.jpeg) center center;
    background-repeat: no-repeat;
    margin-bottom: 6.25rem;

    &__block {
        margin-bottom: 12.5rem;
    }

    &__title {
        margin-bottom: 0;
        font-size: 2.375rem;
        font-weight: 700;
    }

    &__text {
        font-size: 1.125rem;
        margin: 1.938rem 0 3rem 0;
    }

    &__button {
        background-color: $secondary-color;
        color: #fff;
        padding: 1.125rem 2.813rem;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    &__button:hover {
        color: #fff;
        text-decoration: none;
        opacity: 0.7;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

/* About */

.about {
    margin-bottom: 6.25rem;

    &__title {
        font-weight: 400;
        font-size: 1.875rem;
        margin-bottom: 2.5rem;
    }

    &__text {
        margin-bottom: 1.5rem;
    }

    &__sign {
        max-width: 35%;
    }
}

/* Skills */

.skills {
    background: url(/img/skills.jpeg) center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6.25rem 0;

    &__title {
        font-size: 1.875rem;
        font-weight: 400;
        margin-bottom: 2.5rem;
    }

    &__item {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: 400;
        padding-bottom: 1.125rem;
        margin-bottom: 2rem;
        position: relative;
        border-bottom: 3px solid #d8d8d8;
    }

    &__item:after {
        position: absolute;
        background: $secondary-color;
        height: 3px;
        content: '';
        bottom: -3px;
        left: 0;
    }

    &__item--first:after {
        width: 75%;
    }

    &__item--second:after {
        width: 90%;
    }

    &__item--third:after {
        width: 65%;
    }
}

/* Work */

.work {
    padding: 6.25rem 0;
    
    &__number {
        font-size: 1.125rem;
        font-weight: 400;
    }

    &__title {
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}